
body {
    background-color: #f5f5f5; 
    color: #333; 
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: indigo; 
}


.card {
    background-color: #fff8dc; 
    border-radius: 10px;
}


h1, h2, h3, h4, h5 {
    color: indigo; 
}

.btn-primary {
    background-color: lavender;
    border-color: #4B0082;
}

.btn-primary:hover {
    background-color: indigo; 
    border-color: lavender;
}
